
@{
    ViewBag.Title = "Categorias";
}

<h2>Cadastro de Categorias</h2>
<br />

<form method="post">

    <div class="form-group">
        <label class="control-label col-md-2">Nome</label>
        <div class="col-md-10">
            <input type="text" name="Nome" id="Nome" class="form-control" />
            <span id="erroNome" name="erroNome" class="text-danger"></span><br />
        </div>
    </div>

    <div class="row">
        @if (ViewBag.MensagemErro != null)
        {
            <div class="form-group">
                <div class="col-md-10">
                    <span class="text-danger">@ViewBag.MensagemErro</span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" id="BotaoEnviar" name="BotaoEnviar" />
                <input type="button" value="Limpar" class="btn btn-default" id="BotaoLimpar" name="BotaoLimpar" />
            </div>
        </div>
    </div>

</form>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#BotaoEnviar").click(function (e) {

                var sucesso = true;
                var nome = $("#Nome").val();

                if (nome == "") {
                    $("#erroNome").html("O nome deve ser informado.");
                    sucesso = false;
                }
                else {
                    if (nome.length < 5 || nome.length > 50) {
                        $("#erroNome").html("O nome deve conter no mínimo 5 a 50 caracteres.");
                        sucesso = false;
                    }
                    else {
                        $("#erroNome").html("");
                    }
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });

            $("#BotaoLimpar").click(function () {
                $("#Nome").val("");
            });
        });

    </script>

}